/* module-page-cards.css */

@import url("module-reset.css");
@import url("style.css");

main {
  display: flex;
  flex-direction: column;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
