@import url("module-reset.css");
@import url("style.css");

main {
  display: flex;
  flex-direction: column;
}

.cards {
  align-self: stretch;
  justify-content: space-around;
  margin-top: 2rem; 
}
