
<footer>
    <div class="about">
      <img src="../static/img/logo-agency.png" alt="Logotipo Terra Brasilis" height="120"/>
      <div>
        <h2>Sobre nós</h2>
        <p>
          Terra Brasilis é um site que ajuda você a planejar sua viagem dentro
          do Brasil, desde a compra das passagens, até a visita aos pontos
          turísticos mais importantes de cada região!
        </p>
        <a class="repository"
          href="https://github.com/rodrigototy/ETE-PE/tree/main/tourism-agency"
          >Veja o repositório da página no GitHub</a>
      </div>
      <div class="redes">
        <p>Siga-nos nas redes sociais</p>
      <ul>
        <li><a href="https://facebook.com">Facebook</a></li>
        <li><a href="https://instagram.com">Instagram</a></li>
        <li><a href="https://linkedin.com">Linkedin</a></li>
      </ul></div>
    </div>
  </footer>