/* Estilizar o h1 do main */
main h1 {
    font-size: 36px;
    margin: 4rem 0 2rem 0;
    text-align: center;
  }
  
  main {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    align-items: center;
  }