<footer>
  <div class="about">
    <a href="index.html">
      <img
        src="static/img/logo-agency.png"
        alt="Logotipo Terra Brasilis"
        width="200"
      />
    </a>
    <div>
      <a href="pages/about.html">
        <h2>Sobre nós</h2>
      </a>
      <p>
        Terra Brasilis é um site que ajuda você a planejar sua viagem dentro do
        Brasil, desde a compra das passagens, até a visita aos pontos turísticos
        mais importantes de cada região!
      </p>
      <div class="repository">
        <a href="https://github.com/rodrigototy/ETE-PE/tree/main/tourism-agency"
          >Veja o repositório da página no GitHub</a
        >
      </div>
    </div>
    <div class="redes">
      <p>Siga-nos nas redes sociais</p>
      <ul>
        <li>
          <a href="https://www.facebook.com/rodrigototy.pe">
            <img src="static/img/facebook.ico" alt="Facebook" width="64" />
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/toty.rodrigo">
            <img src="static/img/instagram.ico" alt="Instagram" width="64" />
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/rjsautomacao">
            <img src="static/img/linkedin.ico" alt="Linkedin" width="64" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
