/* Estilizar o footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  max-width: 1400px;
}

footer img {
  padding: 5px 20px;
  border-radius: 3rem;
}

footer p {
  margin: 0px;
}

footer a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

footer li {
  margin-left: 10px;
}

.about {
  display: flex;
  align-items: center;
}

.about img {
  border-radius: 2rem;
}
