@import url('module-reset.css');
@import url('module-global.css');

/* Estilos do cabeçalho */
header {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

/* Estilos do texto principal */
p {
  font-size: 18px;
  margin-bottom: 20px;
}

/* Estilos das imagens */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Estilos dos subtítulos (h2) */
h2 {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Estilos da lista de pontos turísticos */
ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;
}

/* Estilos do rodapé */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

footer p {
  margin-bottom: 0px;
}
