  /* Estilizar o footer */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
  footer p {
    margin: 0px;
  }
  
  footer a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  footer ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }
  
  footer li {
    margin-left: 10px;
  }
  
  .about {
    display: flex;
    align-items: center;
  }
  
  .about img {
    border-radius: 2rem;
  }
  