/* Estilos do texto principal */
p {
  font-size: 18px;
  margin-bottom: 20px;
}

/* Estilos dos subtítulos (h2) */
h2 {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Estilos da lista de pontos turísticos */
ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  display: flex;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  max-width: 900px;
}

.card img {
  max-width: 300px;
  height: auto;
}

.texto {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding-left: 10px;
}
